{% extends 'index.html' %}


{% block title %}
<!-- Armazenamento -->
{% endblock %}

{% block body%}
<main class="containerArmazenamento">
    <div>
        <div class="navbarArmazenamento-custom">
            <div class="navbarArmazenamento-brand">
                <h2>{{ dados_lixeira.0.titulo }}</h2>
            </div>
        </div>
        <div class="listaFiles">
            {% for arquivo in dados_finalizados %}
            <div class="sala">
                <p class="nomeSala">{{arquivo.turma}}<p>
                <span id="buttonModalDelete" class="material-symbols-outlined iconeSala">
                    delete
                </span>
                <!-- <span id="buttonModalRestore" class="material-symbols-outlined iconeSala">
                    restore_from_trash
                </span> -->
            </div>
            {% endfor %}
        </div>
        <hr class="linha">

        <div id="modalDelete" class="modalDeleteRestore">
            <div class="modal-contentDeleteRestore">
                <span class="closeDeleteRestore">&times;</span>
                <h3 class="pergunta">Deseja excluir permanentemente esse item?</h3>
                <hr>
                <div class="botoesModaldeleterestore">
                    <button class="voltarDeleteRestore">Cancelar</button>
                    <button>Confirmar</button>
                </div>

                
            </div>
        </div>
        <!-- <div id="modalRestore" class="modalDeleteRestore">
            <div class="modal-contentDeleteRestore">
                <span class="closeDeleteRestore">&times;</span>
                <h3 class="pergunta">Deseja restaurar esse item?</h3>
                <hr>
                <div class="botoesModaldeleterestore">
                    <button class="voltarDeleteRestore">Cancelar</button>
                    <button>Confirmar</button>
                </div>

                
            </div> -->
        </div>
    </div>
</main>
{% endblock %}