{% extends 'index.html' %}


{% block title %}
<!-- Armazenamento -->
{% endblock %}

{% block body%}
<main class="containerArmazenamento">
    <div>
        <div class="navbarArmazenamento-custom">
            <div class="navbarArmazenamento-brand">
                <h2>{{ dados_lixeira.0.titulo }}</h2>
            </div>
        </div>
        <div class="listaFiles">
            {% for arquivo in dados_finalizados %}
            <div class="sala">
                <p class="nomeSala">{{arquivo.turma}}
                <p>
                    <a href="{{ arquivo.arquivo_fineshed.url }}" download>
                        <span class="material-symbols-outlined download" style="float: right;">download</span>
                    </a>

                    <button class="delete-btn" onclick="openModal('modalExcluirPendente{{ forloop.counter }}')">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
            </div>

            <!-- Modal Excluir-->
            <div class="modal modal4" id="modalExcluirPendente{{ forloop.counter }}" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content modal-content4">
                        <button type="button" class="close"
                            onclick="closeModal('modalExcluirPendente{{ forloop.counter }}')">&times;</button>
                        <div class="modal-header modal-header4">
                            <h1 class="modal-title">Excluir turma {{ arquivo.turma }}</h1>
                            <hr>
                        </div>
                        <div class="modal-body">
                            <form id="deleteFormPendente{{ forloop.counter }}" method="POST"
                                action="{% url 'excluir_file' %}">
                                {% csrf_token %}
                                <p>Data de upload: {{ arquivo.upload_time|date:"d/m/Y H:i" }}</p> <!-- Aqui exibe a data -->
                                <input type="hidden" name="rota" value="storage">
                                <input type="hidden" name="file_id" value="{{ arquivo.id }}">
                                <input type="hidden" name="file_status" value="{{ arquivo.status }}">
                                <p>Tem certeza de que deseja excluir esta turma?</p>
                                <div class="d-flex  botoesModal4">
                                    <button type="submit" class="me-2">Confirmar</button>
                                    <button type="button"
                                        onclick="closeModal('modalExcluirPendente{{ forloop.counter }}')">Cancelar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr class="linha">
    </div>
    </div>
</main>
{% endblock %}