{% extends 'index.html' %}

{% load static %}

{% block title %}
<!-- editar perfil -->
{% endblock %}

{% block body%}

<main class="containerEditar">

    <div class="containerEditar">
        <div class="contentEditar">
            <!-- Lado 1 -->
            <div class="lado1">
                <!-- Formulário da primeira coluna - form1 -->
                <form id="formEditar" method="POST" class="form-containerEditar">
                    {% csrf_token %}
                    <div class="form-content">
                        {% for field in form1 %}
                            <div class="form-group-editar">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                <div class="form-field">
                                    {{ field }} <!-- Renderiza o campo do form1 -->
                                </div>
                            </div>
                        {% endfor %}
                    </div>
            </div>
    
            <!-- Lado 2 -->
            <div class="lado2">
                <div class="form-content">
                    {% for field in form2 %}
                        <div class="form-group-editar">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            <div class="form-field">
                                {{ field }} <!-- Renderiza o campo do form2 -->
                            </div>
                        </div>
                    {% endfor %}
                </div>
                </form>
            </div>
            <button class="btn-editar" id="submitButton">Salvar Alterações</button>
        </div>
    </div>
    



        <!-- <div class="lado2">

        <form method="POST" class="form-containerEditar">
            {% csrf_token %}
            {% for field in form_info %}
                <div class="form-group-editar">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    <div class="form-field">
                        {{ field }} 
                    </div>
                </div>
            {% endfor %}
            
            <button class="btn-editar" type="submit">Salvar Alterações</button>
        </form>
    </div>
</div> -->


</main>


{% endblock %}