{% extends 'index.html' %} <!-- Estende o layout base chamado "index.html" -->

{% load static %} <!-- Carrega os arquivos estáticos -->

{% block title %}
<!-- homepage -->
{% endblock %} <!-- Define o título da página como "homepage" -->

{% block body %}

<main>
  <!-- Contêiner principal da página inicial -->
  <div class="containerHome">
    <div class="contentHome">
      <!-- Exibe o título e o texto da homepage -->
      <h1>{{ dados_homepage.0.titulo }}</h1> <!-- Título principal -->
      <p>{{ dados_homepage.0.texto }}</p> <!-- Texto descritivo -->

      <!-- Botão condicional baseado na autenticação do usuário -->
      {% if user.is_authenticated %}
        <!-- Se o usuário estiver autenticado, botão leva para "Nova Turma" -->
        <a id="btnLink1" href="/novaturma"><button class="homebtn" id="home-btn"><span>Nova Turma</span></button></a>
      {% else %}
        <!-- Caso contrário, botão leva para a página de login -->
        <a id="btnLink1" href="/login"><button class="homebtn" id="home-btn"><span>Entrar</span></button></a>
      {% endif %}
    </div>

    <!-- Imagem da homepage -->
    <img class="imagemHome" id="home-btn" src="{{ dados_homepage.0.imagem.url }}" alt="testeimagem">
  </div>
</main>

{% endblock %}

<!-- Script de animação para o botão -->
<script src="{% static 'js/animationHomeBtn.js'}"></script>
