{% extends 'index.html' %}

{% load static %}

{% block title %}
    <!-- Login -->
{% endblock %}

{% block body %}

<main>
    <div class="containerLogin">
        <div>
            <div class="triangle triangle1">
                <svg width="500" height="500" viewBox="0 0 100 100">
                    <polygon points="100,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
                </svg>
            </div>
            <div class="triangle triangle2">
                <svg width="400" height="400" viewBox="0 0 100 100">
                    <polygon points="100,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
                </svg>
            </div>
            <div class="triangle triangle5">
                <svg width="300" height="300" viewBox="0 0 100 100">
                    <polygon points="100,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
                </svg>
            </div>
            <div class="triangle triangle3">
                <svg width="300" height="300" viewBox="0 0 100 100">
                    <polygon points="50,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
                </svg>
            </div>
            <div class="triangle triangle4">
                <svg width="450" height="450" viewBox="0 0 100 100">
                    <polygon points="50,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
                </svg>
            </div>
        </div>
        <div class="rectangleLogin">
            <div class="halfLogin leftLogin">
                <div>
                    <span class="material-symbols-outlined iconeLogin">
                        account_circle
                    </span>
                    <h1 class="tituloLogin">{{ dados_login.0.titulo }}</h1>
                </div>
                <form class="login-form" method="post">
                    {% csrf_token %} <!-- Tag do Django para proteção contra CSRF -->
                    
                    <!-- Campo para o usuário -->
                    <div>
                        <!-- <label for="{{ form.email.id_for_label }}" > {{ form.email.label }} </label> -->
                        {{ form.user }}
                    </div>
                    
                    <!-- Campo para a senha -->
                    <div>
                        <!-- <label  for="{{ form.password.id_for_label }}">{{ form.password.label }}</label> -->
                        {{ form.password }}
                    </div>

                    <!-- Botão de submissão do formulário -->
                     <button id="btn-sublogin" type="submit" class="btnLogin"><span>ENTRAR</span></button>
                    
                </form>
                
                <!-- Exibe mensagem de erro, se houver -->
                {% if error %}
                    <div id="alert-container" class="mensagemErro">{{ error }}</div>
                {% endif %}

            </div>
            <div class="halfLogin rightLogin">
                <img class="imagemLogin" src="{{ dados_login.0.imgLogin.url }}" alt="imagemLogin">
            </div>
        </div>
        
    </div>
</main>
{% endblock %}