{% extends 'index.html' %}

{% block title %}
    <!-- Login -->
{% endblock %}

{% block body %}

<main>
    <div class="containerLogin">
        <div>
            <div class="triangle triangle1">
                <svg width="500" height="500" viewBox="0 0 100 100">
                    <polygon points="100,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
                </svg>
            </div>
            <div class="triangle triangle2">
                <svg width="400" height="400" viewBox="0 0 100 100">
                    <polygon points="100,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
                </svg>
            </div>
            <div class="triangle triangle5">
                <svg width="300" height="300" viewBox="0 0 100 100">
                    <polygon points="100,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
                </svg>
            </div>
            <div class="triangle triangle3">
                <svg width="300" height="300" viewBox="0 0 100 100">
                    <polygon points="50,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
                </svg>
            </div>
            <div class="triangle triangle4">
                <svg width="450" height="450" viewBox="0 0 100 100">
                    <polygon points="50,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
                </svg>
            </div>
        </div>
        <div class="rectangle">
            <div class="half left">
                <span class="material-symbols-outlined iconeLogin">
                    account_circle
                </span>
                <h1 class="titulo">{{ dados_login.0.titulo }}</h1>
                <form action="login" method="post">
                    {% csrf_token %} <!-- Tag do Django para proteção contra CSRF -->
                    
                    <!-- Campo para o usuário -->
                    <div class="input-group">
                        <label for="{{ form.user.id_for_label }}">{{ form.user.label }}</label>
                        {{ form.user }} <!-- Renderiza o campo de entrada do usuário -->
                    </div>
                    
                    <!-- Campo para a senha -->
                    <div class="input-group">
                        <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                        {{ form.password }} <!-- Renderiza o campo de entrada da senha -->
                    </div>
                    
                    <!-- Botão de submissão do formulário -->
                    <!-- <button type="submit" class="btn btn-primary">Entrar</button> -->
                </form>
                
                <!-- Exibe mensagem de erro, se houver -->
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}

                <button class="botãoLogin"> <span>LOGIN</span></button>
            </div>
            <div class="half right">s
                <img class="imagemLogin" src="{{ dados_login.0.imgLogin.url }}" alt="imagemLogin">
            </div>
        </div>
        
    </div>
</main>
{% endblock %}