{% extends 'index.html' %} <!-- Estende o layout base chamado "index.html" -->

{% load static %} <!-- Carrega os arquivos estáticos -->

{% block title %}
    <!-- Login -->
{% endblock %} <!-- Define o título da página como "Login" -->

{% block body %}

<main>
    <div class="containerLogin">
        <div>
            <!-- Elementos decorativos em forma de triângulo -->
            <div class="triangle triangle1">
                <svg width="500" height="500" viewBox="0 0 100 100">
                    <polygon points="100,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2" />
                </svg>
            </div>
            <div class="triangle triangle2">
                <svg width="400" height="400" viewBox="0 0 100 100">
                    <polygon points="100,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2" />
                </svg>
            </div>
            <div class="triangle triangle5">
                <svg width="300" height="300" viewBox="0 0 100 100">
                    <polygon points="100,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2" />
                </svg>
            </div>
            <div class="triangle triangle3">
                <svg width="300" height="300" viewBox="0 0 100 100">
                    <polygon points="50,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2" />
                </svg>
            </div>
            <div class="triangle triangle4">
                <svg width="450" height="450" viewBox="0 0 100 100">
                    <polygon points="50,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2" />
                </svg>
            </div>
        </div>

        <!-- Formulário de login -->
        <div class="rectangleLogin">
            <div class="halfLogin leftLogin">
                <div>
                    <!-- Ícone e título do formulário -->
                    <span class="material-symbols-outlined iconeLogin">
                        account_circle
                    </span>
                    <h1 class="tituloLogin">{{ dados_login.0.titulo }}</h1>
                </div>
                <form class="login-form" method="post">
                    {% csrf_token %} <!-- Token de segurança contra CSRF -->

                    <!-- Campo para o usuário -->
                    <div>
                        <!-- Renderiza o campo "usuário" do formulário -->
                        {{ form.user }}
                    </div>

                    <!-- Campo para a senha -->
                    <div class="input-groupLogin senhaLogin">
                        {{ form.password }}
                        <!-- Ícone para alternar a visibilidade da senha -->
                        <span class="material-symbols-outlined" id="togglePasswordLogin" style="cursor: pointer;">
                            visibility_off
                        </span>
                    </div>

                    <!-- Botão de envio -->
                    <button id="btn-sublogin" type="submit" class="btnLogin"><span>ENTRAR</span></button>
                </form>

                <!-- Exibição de mensagem de erro, se houver -->
                {% if error %}
                    <div id="alert-containerLogin" class="mensagemErro">{{ error }}</div>
                {% endif %}
            </div>

            <!-- Lado direito: imagem do login -->
            <div class="halfLogin rightLogin">
                <img class="imagemLogin" src="{{ dados_login.0.imgLogin.url }}" alt="imagemLogin">
            </div>
        </div>
    </div>
</main>
{% endblock %}
