{% extends 'index.html' %}

{% block title %}
    <!-- Nova Turma -->
{% endblock %}

{% block body %}
<main class="containerNovaTurma">
    <div class="contentTurma" >

        <form class="nova-turma-form" method="post">
            <p>{{ dados_NovaTurma.0.titulo }}</p>
            {% csrf_token %}
    
            <!-- Campo LoginCAF -->
            <div>
                <input type="text" name="LoginCAF" id="{{ form.LoginCAF.id_for_label }}" placeholder="{{ form.LoginCAF.label }}">
                {% if form.LoginCAF.errors %}
                    <div class="error">{{ form.LoginCAF.errors }}</div>
                {% endif %}
            </div>
    
            <!-- Campo senhaCAF -->
            <div>
                <input type="password" name="SenhaCAF" id="{{ form.SenhaCAF.id_for_label }}" placeholder="{{ form.SenhaCAF.label }}">
                {% if form.SenhaCAF.errors %}
                    <div class="error">{{ form.SenhaCAF.errors }}</div>
                {% endif %}
            </div>
    
            <!-- Campo LoginIHX -->
            <div>
                <input type="text" name="LoginIHX" id="{{ form.LoginIHX.id_for_label }}" placeholder="{{ form.LoginIHX.label }}">
                {% if form.LoginIHX.errors %}
                    <div class="error">{{ form.LoginIHX.errors }}</div>
                {% endif %}
            </div>
    
            <!-- Campo senhaIHX -->
            <div>
                <input type="password" name="SenhaIHX" id="{{ form.SenhaIHX.id_for_label }}" placeholder="{{ form.SenhaIHX.label }}">
                {% if form.SenhaIHX.errors %}
                    <div class="error">{{ form.SenhaIHX.errors }}</div>
                {% endif %}
            </div>

            <div class="botoesTurma">
                <label for="arquivos" class="file-label">
                    Insira o arquivo .xlsx
                </label>
                <input type="file" id="arquivos"> 
                <button class="btnTurma"><span>Iniciar</span></button>
            </div>
            

    
        </form>
        
        <div class="content2">
            <p>{{ dados_NovaTurma.0.texto }}</p>
            <img src="{{ dados_NovaTurma.0.imgNovaTurma.url }}">
    
        </div>

    </div>



</main>

{% endblock %}
