
{% extends 'index.html' %}

{% load static %}

{% block title %}
    <!-- Nova Turma -->
{% endblock %}

{% block body %}


<div class="containerPerfil">
    <div>
        <div class="triangle triangle1">
            <svg width="500" height="500" viewBox="0 0 100 100">
                <polygon points="100,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
            </svg>
        </div>
        <div class="triangle triangle2">
            <svg width="400" height="400" viewBox="0 0 100 100">
                <polygon points="100,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
            </svg>
        </div>
        <div class="triangle triangle5">
            <svg width="300" height="300" viewBox="0 0 100 100">
                <polygon points="100,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
            </svg>
        </div>
        <div class="triangle triangle3">
            <svg width="300" height="300" viewBox="0 0 100 100">
                <polygon points="50,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
            </svg>
        </div>
        <div class="triangle triangle4">
            <svg width="450" height="450" viewBox="0 0 100 100">
                <polygon points="50,0 0,100 100,100" fill="none" stroke="#10403B" stroke-width="0.2"/>
            </svg>
        </div>
    </div>
    <div class="contentPerfil">
        <div class="contentPerfil2"> 
            <div class="profile">
                <img src="{{ dados_Perfil.0.imgPerfil.url }}">

                <h2>{{ dados_Perfil.0.titulo}}</h2>
            </div>
            {% csrf_token %}
            <div class="info-container">
                <div class="info-column">
                    <label for="instrutor">Nome de Usuário</label>
                    <p>{{ usuario.user }}</p>
                    <label for="Email">Email</label>
                    <p>{{ usuario.user.email}}</p>
                </div>
                <div class="info-column2">
                    <label for="CPF">User CAF</label>
                    <p>{{usuario.login_CAF}}</p>
                    <label for="CPF">User IHX</label>
                    <p>{{usuario.login_IHX}}</p>
                </div>
            </div>
            <div class="div-editar">
                <a href="/editarperfil">Editar Perfil</a>
            </div>
        </div>

    </div>

    
</div>

{% endblock %}
