{% extends "index.html" %}

{% load static %}

{% block title %}
<!-- Processo -->
{% endblock %}

{% block body %}
<div class="containerProcesso">
    <div class="contentProcesso">
        <div class="navProcesso">
            <div class="navProcesso-content">
                <div class="navCampo">
                    <img src="{% static 'img/Ellipse.png' %}">
                    <p class="navCampo">Itens Pendentes</p>
                </div>
                <div class="navCampo">
                    <img src="{% static 'img/Ellipse.png' %}">
                    <p class="navCampo">Em Processo</p>
                </div>
                <div class="navCampo">
                    <img src="{% static 'img/Ellipse.png' %}">
                    <p class="navCampo">Finalizado</p>
                </div>
            </div>
        </div>
        <div class="kanban">
          <div class="column">
              {% for file in dados_progresso %}
                  {% if file.status == "Pendente" %}
                      <div class="item" draggable="true">{{ file.turma }}</div>
                  {% endif %}
              {% endfor %}
              <div class="btn-add"><a href="/novaturma">+ Adicionar</a></div>
          </div>
      
          <div class="column">
              {% for file in dados_progresso %}
                  {% if file.status == "Em Progresso" %}
                      <div class="item" draggable="true">{{ file.turma }}</div>
                  {% endif %}
              {% endfor %}
          </div>
      
          <div class="column">
              {% for arquivo in dados_finalizados %}
                  <div class="item" draggable="true">{{ arquivo.turma }} 
                      <span class="material-symbols-outlined" style="float: right;">download</span>
                      <span class="material-symbols-outlined" style="float: right; margin-left: 5px;">delete</span>
                  </div>
              {% endfor %}
          </div>
      </div>
      
    </div>
</div>

{% endblock %}

<script src="{% static 'js/animationProcesso.js' %}"></script>
