.containerPerfil {
    display: flex;
    background-color: #C4D1D0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 2rem;
    overflow: hidden;
}

.contentPerfil {
    display: flex;
    width: 55vw;
    height: 73vh;
    background-color: #8AA6A3;
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    margin-top: 13vh;


}

.contentPerfil2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    height: 63vh;
    background-color: #ABCEC7;
    position: absolute;
    z-index: 2;
    border-radius: 1rem;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
}

.profile {
    position: absolute;
    top: -18%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 3;
}

.profile img {
    width: 45%;
    height: auto;
    border-radius: 50%;
    border: 0.35rem solid #127369;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.25);
}

.profile h2 {
    margin: 1rem 0 0;
    font-size: 2.5vw;
    z-index: 3;
    color: #127369;
}

.info-container {
    display: flex;
    flex-direction: row;
    width: 50vw;
    margin: 23vh 3vw 3vw 3vw;
    justify-content: space-between;
}

.info-column {
    display: flex;
    flex-direction: column;
    width: 75%;
    position: relative;
    right: -3%;
}

.info-column2 {
    display: flex;
    flex-direction: column;
    width: 75%;
    position: relative;
    left: 8%;
}

.info-column p,
.info-column2 p {
    width: 80%;
    font-size: 1.1vw;
    border-bottom: solid 0.01rem #8AA6A3;
    color: #507974;
}

.info-column label,
.info-column2 label {
    font-weight: 600;
    font-size: 1.3vw;
    padding: 1rem 0;
    color: #127369;
}

.div-editar a {
    color: #4C978F;
    font-size: 1.3vw;
}
.triangle {
    position: absolute;
}

/* Estilo para os triângulos */
.triangle1 {
    bottom: 60%;
    left: 2%;
    transform: rotate(30deg);
}

.triangle2 {
    bottom: 15%;
    left: 5%;
    transform: rotate(150deg);
}

.triangle5 {
    bottom: 5%;
    left: 5%;
    transform: rotate(100deg);
}

.triangle3 {
    top: 20%;
    left: 80%;
    transform: rotate(100deg);
}

.triangle4 {
    bottom: 5%;
    left: 72%;
    transform: rotate(30deg);
}

@media(max-width: 960px) {
    .contentPerfil {
        width: 65vw;
        height: 65vh;
        margin-top: 5vh;
    }

    .contentPerfil2 {
        width: 60vw;
        height: 60vh;
        padding: 1.25rem;
    }

    .profile {
        top: -13%;
    }

    .profile h2 {
        font-size: 1.9rem;
    }

    .profile img {
        width: 48%;
    }

    .info-container {
        margin: 7vh 0;
        height: 40%;
        width: 100%;
        justify-content: center;
    }

    .info-column,
    .info-column2 {
        width: 100%;
        margin: 2rem 0;
    }

    .info-column p,
    .info-column2 p {
        width: 90%;
        font-size: 1rem;
    }

    .info-column label,
    .info-column2 label {
        font-size: 1.2rem;
    }
    .div-editar a {
        color: #4C978F;
        font-size: 1.3rem;
    }
    .div-editar{
        margin-top: 5rem;
    }
}

@media(max-width: 700px) {
    .contentPerfil {
        width: 65vw;
        height: 75vh;
        margin-top: 15vh;
    }

    .contentPerfil2 {
        width: 60vw;
        height: 70vh;
        padding: 1.25rem;
    }

    .profile {
        top: -15%;
    }

    .profile h2 {
        font-size: 1.5rem;
    }

    .profile img {
        width: 60%;
    }

    .info-container {
        display: flex;
        height: 45%;
        width: 100%;
        flex-direction: column;
        padding: 10vh 0 0 0;
        justify-content: center;
        align-items: center;
    }

    .info-column {
        padding: 0;
        gap: 0;
        margin: 1rem 0 0 0;
    }

    .info-column2 {
        padding: 0;
        gap: 0;
        margin: 0 0.625rem 0 0;
    }

    .info-column p,
    .info-column2 p {
        width: 90%;
        font-size: 1rem;
    }

    .info-column label,
    .info-column2 label {
        font-size: 1.5rem;
    }

    .div-editar a {
        color: #4C978F;
        font-size: 1.4rem;
    }
    .div-editar{
        margin-top: 6rem;
    }
} 

@media(max-width: 450px) {
    .contentPerfil {
        width: 65vw;
        height: 75vh;
        margin-top: 15vh;
    }

    .contentPerfil2 {
        width: 60vw;
        height: 70vh;
        padding: 1.25rem;
    }

    .profile {
        top: -15%;
    }

    .profile h2 {
        font-size: 1.5rem;
    }

    .profile img {
        width: 65%;
    }

    .info-container {
        display: flex;
        height: 45%;
        width: 100%;
        flex-direction: column;
        padding: 10vh 0 0 0;
        justify-content: center;
        align-items: center;
    }

    .info-column {
        padding: 0;
        gap: 0;
        margin: 1rem 0 0 0;
    }

    .info-column2 {
        padding: 0;
        gap: 0;
        margin: 0 0.625rem 0 0;
    }

    .info-column p,
    .info-column2 p {
        width: 90%;
        font-size: 0.9rem;
        word-break: break-word;
    }

    .info-column label,
    .info-column2 label {
        font-size: 1rem;
    }

    .div-editar a {
        color: #4C978F;
        font-size: 1rem;
    }
    .div-editar{
        margin-top: 6rem;
    }
} 