/* Estilo para o contêiner principal (containerCadinfo) */
.containerCadinfo { 
    display: flex;
    flex-wrap: wrap;
    background-color: #C4D1D0;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    margin-bottom: 3rem;
}

/* Estilo para o conteúdo dentro do contêiner (contentCadinfo) */
.contentCadinfo {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    width: 60vw; 
    margin-top: 9vh;
    margin-bottom: 8vh;
    
    
}

/* Estilo para os triângulos (divs) posicionados de forma absoluta */
.triangle {
    position: absolute;
}

/* Estilo para o primeiro triângulo (triangle1) */
.triangle1 {
    bottom: 60vh;
    left: 2vw;
    transform: rotate(30deg);
}

/* Estilo para o segundo triângulo (triangle2) */
.triangle2 {
    bottom: 15vh;
    left: 5vw;
    transform: rotate(150deg);
}

/* Estilo para o quinto triângulo (triangle5) */
.triangle5 {
    bottom: 5vh;
    left: 5vw;
    transform: rotate(100deg);
}


/* Estilo para o terceiro triângulo (triangle3) */
.triangle3 {
    top: 20vh;
    left: 80vw;
    transform: rotate(100deg);
}

/* Estilo para o quarto triângulo (triangle4) */
.triangle4 {
    bottom: 5vh;
    left: 72vw;
    transform: rotate(30deg);
}

/* Estilo para o formulário principal (cad-info-form) */
.cad-info-form {
    width: 25vw;
    height: 70vh;
    padding: 3vw;
    background-color: #10403B;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

/* Estilo para o texto dentro do formulário (cad-info-form p) */
.cad-info-form p {
    color: #ffffff;
    font-size: 2.7vh;
    font-family: "Poppins";
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 2rem;
}

/* Estilo para cada div dentro do formulário */
.cad-info-form div {
    margin-bottom: 1rem;
    width: 100%; 
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

/* Estilo para os campos de input de texto e senha */
.cad-info-form input[type="text"],
.cad-info-form input[type="password"] {
    width: 20vw; 
    padding: 0.5rem 0; 
    border: none; 
    border-bottom: 0.1rem solid #D9E0DF; 
    border-radius: 0; 
    font-size: 1rem; 
    box-sizing: border-box; 
    background-color: transparent; 
    color: #D9E0DF;
    outline: none;
}

/* Estilo para o texto do placeholder (texto de sugestão) nos inputs */
.cad-info-form input::placeholder {
    color: #D9E0DF; 
    opacity: 1;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 1.5vh;
}

/* Estilo para o botão de cadastro */
.btnCad {
    margin-top: 0px;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 2vh 5vw;
    font-family: "Merriweather Sans";
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 2vh;
    border-radius: 1.5rem;
    overflow: hidden;
    background: #ffffff;
    color: #10403B; 
    border-bottom: 0.2rem solid #5B5B5B;
    border-right: 0.2rem solid #5B5B5B;
    transition: background-color 0.3s, color 0.3s; 
}

/* Estilo para o texto dentro do botão */
.btnCad span {
    position: relative;
    transition: color 0.4s;
}

/* Efeito de hover para o botão (quando o mouse passa por cima) */
.btnCad:hover span {
    color: #8AA6A3;
}

/* Pseudo-elementos para criar o efeito de transição no fundo do botão */
.btnCad::before,
.btnCad::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Estilo para o efeito de fundo quando o botão é hoverizado */
.btnCad::before {
    content: "";
    background: #8AA6A3;
    width: 120%;
    left: -10%;
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

/* Efeito de movimento do fundo do botão quando é hoverizado */
.btnCad:hover::before {
    transform: translate3d(100%, 0, 0);
}

/* Estilo para mensagens de erro */
.error {
    color: red;
    font-size: 0.8rem;
}

/* Estilo para o conteúdo principal da seção .contentCad2 */
.contentCad2 {
    background-color: #8AA6A3;
    width: 50vw;
    height: 70vh;
    color: #ffffff;
    font-size: 1.8vh;
    font-family: "Poppins";
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    gap: 2rem;
    position: relative;
}

/* Estilo para as imagens dentro do conteúdo */
.contentCad2 img {
    width: 90%;
    max-height: 100%; 
    object-fit: contain; 
}

/* Estilo para a seção de formulários dentro do conteúdo */
.info-forms {
    margin-top: 1rem;
    padding-top: 3rem;
}

/* Estilos de ajuste para telas com largura máxima de 768px */
@media (max-width: 768px) {
    .triangle1, .triangle2, .triangle3, .triangle4 {
        border-width: 0 10vw 10vw 0;
    }

    .triangle1::before, .triangle2::before, .triangle3::before, .triangle4::before {
        border-width: 0 10.2vw 10.2vw 0;
    }
}
