.containerNovaTurma {
    display: flex;
    flex-wrap: wrap;
    background-color: #C4D1D0;
    height: 100%;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.contentTurma {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    justify-content: center;
    gap: 0; 

}

.content2 {
    background-color: #8AA6A3;
    width: 30vw;
    height: 80vh;
    color: #ffffff;
    font-size: 1.8vh;
    font-family: "Poppins";
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    gap: 2rem;
}

.content2 p{
    max-width: 90%;
}

.content2 img {
    width: 90%;
    max-height: 100%; 
    object-fit: contain; 
}

.nova-turma-form p{
    color: #ffffff;
    font-size: 2.7vh;
    font-family: "Poppins";
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 2rem ;

}

form.nova-turma-form {
    width: 35vw;
    height: 80vh;
    padding: 3vw;
    background-color: #10403B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}


/* Estilização dos campos de entrada */
.nova-turma-form div {
    margin-bottom: 1rem;
    width: 100%; 
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}

.nova-turma-form input[type="text"],
.nova-turma-form input[type="password"] {
    width: 25vw; 
    padding: 0.5rem 0; 
    border: none; 
    border-bottom: 1px solid #D9E0DF; 
    border-radius: 0; 
    font-size: 1rem; 
    box-sizing: border-box; 
    background-color: transparent; 
}

/* Estilização dos placeholders */
.nova-turma-form input::placeholder {
    color: #D9E0DF; 
    opacity: 1;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 1.5vh;


}

/* Estilização do campo de upload de arquivos */
.nova-turma-form input[type="file"] {
    width: 90%;
    padding: 1rem; 
    border: 1px solid #D9E0DF;
    border-radius: 0; 
    background-color: transparent; 
    color: #fff;
    display: none;

}

.botoesTurma {
    display: flex;
    flex-direction: row;
    align-items: center; /* Alinha verticalmente os itens ao centro */
    gap: 1rem; /* Espaço entre os itens, ajuste conforme necessário */
}

.botoesTurma label {
    font-family: "Poppins";
    color: #ffffff; /* Ajuste a cor do texto da label conforme necessário */
    font-size: 1.5vh; /* Ajuste o tamanho da fonte da label conforme necessário */
    background-color: #10403B; /* Cor de fundo para contraste, ajuste conforme necessário */
    padding: 0.5rem 1rem; /* Espaço interno na label */
    border-radius: 5px; /* Adiciona bordas arredondadas na label */
    cursor: pointer; /* Adiciona cursor pointer para a label */
}

.botoesTurma input[type="file"] {
    display: none; /* Oculta o input de tipo file */
}

.botoesTurma .btnTurma {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 1vh 1vh;
    font-family: "Merriweather Sans";
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 3.4vh;
    border-radius: 15px;
    overflow: hidden;
    background: #ffffff;
    color: #10403B; /* Ajuste a cor do texto do botão conforme necessário */
    border-bottom: 2px solid #5B5B5B;
    border-right: 2px solid #5B5B5B;
    transition: background-color 0.3s, color 0.3s; /* Adiciona transições suaves */
}

.btnTurma span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.btnTurma:hover span {
    color: #8AA6A3;
}

.btnTurma::before,
.btnTurma::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btnTurma::before {
    content: "";
    background: #8AA6A3;
    width: 120%;
    left: -10%;
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btnTurma:hover::before {
    transform: translate3d(100%, 0, 0);
}




/* .btnTurma {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 1vh 1vh;
    margin: 0;
    font-family: "Merriweather Sans";
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 3.4vh;
    border-radius: 15px;
    overflow: hidden;
    background: #ffffff;
    color: #ffffff; 
    border-bottom: 2px solid #5B5B5B;
    border-right: 2px solid #5B5B5B;

}

.btnTurma span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.btnTurma:hover span {
    color: #8AA6A3;
}

.btnTurma::before,
.btnTurma::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btnTurma::before {
    content: "";
    background: #8AA6A3;
    width: 120%;
    left: -10%;

    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btnTurma:hover::before {
    transform: translate3d(100%, 0, 0);
}

.botoesTurma{
    display: flex;
    flex-direction: row;
}


/* Estilização dos erros
.nova-turma-form .error {
    color: red; 
    font-size: 0.9rem; 
    margin-top: 0.5rem; 
} */


