.containerLixeira {
    margin:0rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #C4D1D0;
    position: relative;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    padding-top: 37vh;
}

.navbarLixeira-custom {
    background-color: #10403B;
    border-radius: 10px;
    width: 70vw;
    height: 12vh; 
    margin: 2rem auto 0 auto;
    position: absolute;
    top: calc(15vh + 1rem);
    left: 0; 
    right: 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-left: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 2rem;
}

.navbarLixeira-brand {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #bfbfbf;
}

.navbarLixeira-brand h2 {
    font-size: 3vh;
    margin-right: 0.2rem;
    font-family: "Poppins";
}

.navbarLixeira-brand span {
    font-size: 4vh;
}

.sala{
    background-color: #8AA6A3;
    border-radius: 10px;
    width: 70vw;
    height: 7vh; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vh;
    margin-bottom: 2rem;
}

.nomeSala{
    font-size: 2vh;
    font-weight: 600;
    color:#4C5958;
    margin-right: 0.2rem;
    font-family: "Poppins";
}

.iconeSala{
    color: #4C5958;
}

.iconeSala:hover,
.iconeSala:focus {
    color: #10403B;
    text-decoration: none;
    cursor: pointer;
}

.linha{
    width: 100%;
    margin: 0 auto;
    border: 1px solid #4C5958;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

}

.linha-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 70vw;
}

.alinhamentoTexto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.3rem ;
    align-items: center;
}

.info{
    font-size: 2vh;
    font-weight: 600;
    color:#4C5958;
    margin-right: 0.2rem;
    font-family: "Poppins";
}


.modalDeleteRestore {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-contentDeleteRestore {
    background-color: #B0C2C0;
    color: #4C5958;
    margin: 15% auto;
    padding: 3%;
    padding-top:1%;
    border: 1px solid #888;
    width: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    gap: 0.3rem;
    text-align: center;

}

.modal-contentDeleteRestore span{
    align-self: end;
}
.modal-contentDeleteRestore hr{
    width: 100%;
    background-color: #4C5958;
    display: inline-flex;
    justify-content: center;
    align-self: center;
}

.modal-contentDeleteRestore h3{
    margin: 3vh;
    padding: 0;
    font-size: 3vh;
}

.closeDeleteRestore {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.closeDeleteRestore:hover,
.closeDeleteRestore:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.botoesModaldeleterestore{
    width: 100%;
    height: 80%;
    display: flex;
    gap: 20%;
    justify-content: space-between;

    

}

.botoesModaldeleterestore button{
    width: 60%;
    height: 40%;
    background-color: #8AA6A3;
    border: none;
    padding: 0.4rem;
}
.listaFiles::-webkit-scrollbar {
    width: 0.3rem;
}

.listaFiles::-webkit-scrollbar-thumb {
    background-color: #8AA6A3;
    border-radius: 0.625rem;
    border: 0.03125rem solid #4f6865;
}

@media (max-width: 768px) {
    .containerLixeira .sala {
        margin: 0 auto
        
    }
    .containerLixeira .navbarLixeira-custom {
        height: 9vh; 
        margin: 0 auto;
    }
    .containerLixeira {
        margin-top: 0;
        padding-top: 30vh;
    }
    .linha-wrapper{
        margin-top: 1rem;
    }
    .alinhamentoTexto .info {
        font-size: 1.7vh;
    }
}

@media (max-width: 500px) {
    .containerLixeira .sala {
        height: 5vh
    }
    .containerLixeira .navbarLixeira-custom {
        height: 7vh; 
    }
    .containerLixeira {
        margin-top: 0;
        padding-top: 26vh;
    }
    .linha-wrapper{
        margin-top: 1rem;
    }
    .alinhamentoTexto .info {
        font-size: 1.4vh;
    }
}