.containerFuncionarios {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0 5vw;
    overflow-y: hidden;
}

.colunaFuncionarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #95B0AD;
    height: 100%;
    width: 40%;
    position: absolute;
    left: 0;
}

.imgFuncionarios {
    width: 55%;
}

.tituloFunc {
    font-weight: 700;
    color: #0B6A60;
    font-style: 'Poppins';
    font-size: 2.3rem;
}

.container2 {
    width: 70vw;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding-top: 2rem;
}

.iconeFunc {
    top: calc(15vh + 1rem);
    position: fixed;
    margin: auto;
    color: #0B6A60;
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 5vh;
}

.icone{
    color: #0B6A60;
}
.material-symbols-outlined.iconFunc {
    font-size: 2rem;
    color: #0B6A60;
    padding-right: 0.5rem;
}

.user-cards-wrapper {
    display: block;
    max-height: 70vh;
    overflow-y: auto;
    margin-top: 10.5rem;
    position: relative;
    left: 40%;
    padding-bottom: 1rem;
    padding-right: 0rem;
    margin-right: 0rem;
    width: 42vw;
    margin-top: 11rem;

}

.user-card {
    width: 98%;
    margin-bottom: 1rem;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    padding: 0;
}

.user-cards-wrapper::-webkit-scrollbar {
    width: 0.3rem;
}

.user-cards-wrapper::-webkit-scrollbar-thumb {
    background-color: #8AA6A3;
    border-radius: 0.625rem;
    border: 0.03125rem solid #4f6865;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    background: linear-gradient(to right, #CDE1DF, #0B6A60);
}

.user-info {
    display: flex;
    align-items: center;
}

.user-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.625rem;
}

.user-details h3 {
    font-size: 1.125rem;
    margin-bottom: 0.3125rem;
    color: #0B6A60;
}

.user-details p {
    font-size: 0.875rem;
    color: #0b6a6195;
}

.user-details-content.show {
    display: block;
}

.user-details-content {
    display: none;
    padding: 1rem 1rem 0 1rem;
    background-color: #e6e0e0;
}

.user-attribute {
    margin-bottom: 0.625rem;
    padding-right: 1.875rem;
    gap: 1.875rem;
}

.user-attribute strong {
    width: 30%;
    font-size: 1rem;
    color: #333;
}

.user-attribute p {
    width: 65%;
    font-size: 0.9rem;
    color: #666;
    word-break: break-word;
}

.edit-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #127369;
    border: none;
    padding: 0.625rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.875rem;
}

.button-divv {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-top: 0.070rem solid rgba(111, 110, 110, 0.982);
    align-self: center;
    
}

.accordion {
    background-color: transparent;
    border: none;
}

.parAtributo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 1.25rem;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    display: flex;
    align-items: center;
    background-color: #CDE1DF;
    border-radius: 10rem;
    height: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 1.2rem;
}

.search-text {
    align-items: center;
    border: none;
    background: none;
    outline: none;
    font-size: 1rem;
    width: 0;
    transition: 0.4s;
}

.icon-search {
    color: #127369b3;
}

.search-btn {
    width: 2rem;
    height: 1.8rem;
    border-radius: 50%;
    align-self: center;
}

.search-box:hover > .search-text {
    width: 20rem;
    padding-left: 0.5rem;
}

.backarrow-icn {
    color: #127369b3;
    padding-right: 1rem;
}

.backarrow-icn:hover {
    transform: scale(1.2);
}

.tituloResp{
    display: none;
}

.modal {
    z-index: 1055 !important;
}
.modal-backdrop {
    z-index: 1045 !important;
  }

  @media (max-width: 768px) {
    .colunaFuncionarios {
        display: none;
    }

    .tituloResp{
        display: flex;
        justify-content: center;
        color: #127369;
    }

    .containerFuncionarios {
        flex-direction: column; 
        padding: 10vh 2vh;
        height: auto;
        align-items: center;
       
    }

    .user-cards-wrapper {
        max-height: 60vh;
        margin-top: 6rem;
        left: 0;
        width: 100%; 
    }

    .user-card {
        width: 100%; 
    }
    .iconeFunc {
        padding-right: 0rem;
        padding-top: 1rem;
    }
    
}

@media (max-width: 576px) {
    .tituloResp{
        display: flex;
        justify-content: center;
        color: #127369;
        font-size: 2rem;
        margin-top: 4rem;
    }
    .iconeFunc {
        width: 70vw;
        padding: 0rem;
        margin-top: 2rem;
        display: flex;
        
        
    }

    .user-cards-wrapper {
        max-height: 55vh;
        margin-top: 6rem;
        left: 0;
        width: 100%;
    }

    .user-card {
        width: 100%; 
    }

    .containerFuncionarios {
        padding: 2vh 1vh;
    }
}
@media (width: 820px) and (height: 1180px) {
    .user-cards-wrapper {
        margin-top: 16rem !important; 
        height: 50vh;
    }
}
@media (width: 1024px) and (height: 1366px) {
    .user-cards-wrapper {
        margin-top: 15rem !important;
        height: 50vh;
        margin-bottom: 2rem;
    }
}
@media (width: 912px) and (height: 1368px) {
    .user-cards-wrapper {
        margin-top: 15rem !important; 
    }
}
@media (width: 853px) and (height: 1280px) {
    .user-cards-wrapper {
        margin-top: 19rem !important; 
        margin-bottom: 10rem;
        height: 50vh;
    }
}
@media (width: 1024px) and (height: 600px) {
    .user-cards-wrapper {
        margin-top: 10rem !important;
    }
}
@media (height: 1558px){
    .user-cards-wrapper{
        margin-top: 19rem !important;
    }
    .tituloResp{
        margin-top: 10vh;
       } 
}
@media (height: 1714px){
    .user-cards-wrapper{
        margin-top: 19rem !important;
    }
   .tituloResp{
    margin-top: 10vh;
   } 
}