.containerCadastro {
    margin:0;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #C4D1D0;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.rectangleCadastro {
    width: 70vw;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
}


.halfCadastro {
    flex: 1;
    height: 100%;
}

.rightCadastro {
    background-color: #8AA6A3; /* Cor da metade esquerda */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.rightCadastro form{
    justify-content: center;
}

.rightCadastro span{
    justify-content: center;
}

.leftCadastro {
    background-color: #10403B; /* Cor da metade direita */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemCadastro{
    max-width: 70%;
}

.material-symbols-outlined.iconeCadastro{
    color: #10403B;
    font-size: 500%;
}

.tituloCadastro{
    text-transform: uppercase;
    color: #10403B;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.cadastro-form {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative; /* Para posicionar o botão no final */
    overflow: hidden; /* Oculta a barra de rolagem */
    padding-top: 1vh;
}


/* Estilização dos campos de entrada */
.cadastro-form div {
    margin-bottom: 1rem;
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.cadastro-form input[type="text"],
.cadastro-form input[type="password"] {
    width: 25vw; 
    padding: 0.5rem 0; 
    border: none; 
    padding-bottom: 2px;
    padding-top: 2;
    border-bottom: 1px solid #10403B; 
    border-radius: 0; 
    font-size: 1rem; 
    box-sizing: border-box; 
    background-color: transparent;
    color: #10403B;
    outline: none;
}
.cadastro-form input[type="email"]{
    width: 25vw;  
    border: none; 
    border-bottom: 1px solid #10403B; 
    border-radius: 0; 
    font-size: 1rem; 
    box-sizing: border-box; 
    background-color: transparent;
    color: #10403B;
    outline: none;
}
.cadastro-form input:-webkit-autofill {
    background-color: transparent !important; 
    color: #10403B !important; 
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; 
    transition: background-color 5000s ease-in-out 0s;
}

.cadastro-form input:-webkit-autofill::first-line {
    color: #10403B !important;
}


/* Estilização dos placeholders */
.cadastro-form input::placeholder {
    color: #10403B; 
    opacity: 1;
    font-family: "Poppins";
    font-size: 1.5vh;
}

.btnCadastro {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 10px 20px 7px;
    font-family: "Merriweather Sans";
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 2.4vh;
    border-radius: 15px;
    overflow: hidden;
    background: #ffffff;
    color: #D9E0DF; /* Ajuste a cor do texto do botão conforme necessário */
    border-bottom: 2px solid #5B5B5B;
    border-right: 2px solid #5B5B5B;
    transition: background-color 0.3s, color 0.3s; /* Adiciona transições suaves */
}

.btnCadastro label {
    font-family: "Poppins";
    color: #ffffff; 
    font-size: 2.3vh; 
    background-color: #10403B; 
    padding: 2vh 6vh; 
    cursor: pointer; 
    border: 1px solid #D9E0DF;
}

.btnCadastro span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.btnCadastro:hover span {
    color: #8AA6A3;
}

.btnCadastro::before,
.btnCadastro::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btnCadastro::before {
    content: "";
    background: #10403B;
    width: 120%;
    left: -10%;
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btnCadastro:hover::before {
    transform: translate3d(100%, 0, 0);
}

.input-group.senha {
    position: relative;
}


.input-group.senha span {
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
    color: #10403B;
    cursor: pointer;
}

.input-group.senha input {
    padding-right: 8%;
}
