/* Estilo da barra de navegação customizada */
.navbar-custom {
    background-color: #8AA6A3;
    border-radius: 10px;
    width: 70vw;
    height: 9vh; 
    margin: 2% auto; 
    position: fixed; 
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000; 
    display: flex;
    align-items: center; 
    padding: 0 5vh; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo do container dentro da barra de navegação */
.containerNav {
    width: 100%; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Estilo para o título dentro da barra de navegação */
.navbar-brand h2 {
    margin: 0; 
    color: #000; 
    font-family: "Poppins";
    font-size: 3.3vh;
    transition: transform 0.3s ease;
}

/* Efeito de hover no título, aumenta o tamanho */
.navbar-brand h2:hover {
  transform: scale(1.2);
}

/* Estilo do conteúdo após a barra de navegação */
.contentNav {
    padding-top: 80px;
}

/* Estilo dos spans dentro do container de navegação */
.containerNav span{
  font-size: 4vh;
}

/* Estilo dos ícones, com transição suave */
.icone{
  transition: transform 0.3s ease;
}

/* Efeito de hover nos ícones, aumenta o tamanho */
.icone:hover {
  transform: scale(1.2);
}

/* Estilo do link dos ícones de navegação */
.icn{
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

/* Grupo de ícones com espaçamento */
.icn-group {
  display: flex;
  gap: 20px; 
  align-items: center;
}
