p{
    margin: 0;
}

.containerProcesso{
    display: flex;
    background-color: #C4D1D0;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.navProcesso{
    background-color: #10403B;
    border-radius: 10px;
    width: 70vw;
    height: 12vh; 
    margin: 0 auto; 
    position: fixed; 
    top: calc(15vh + 1rem);
    left: 0; 
    right: 0; 
    z-index: 1000; 
    display: flex;
    align-items: center; 
    padding: 0 5vh; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navProcesso-content {
    width: 100%; 
    display: flex;
    justify-content: space-between; 
    align-items: center;     
    overflow: hidden;
    margin: 0; 
    color: #bfbfbf; 
    font-family: "Poppins";
    font-size: 3.3vh;
}

.navCampo p{
    font-size: 2vh;
    color: #4C5958;
    display: flex;
    flex-wrap: wrap;

}

.navCampo {
    width: 11vw;
    height: 5.2vh;
    border-radius: 8px;
    background-color: #8AA6A3;
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding-left: 0.5rem;
}

.navCampo img {
    width: 1rem; 
    height: auto; 
    margin-right: 0.5rem; 
    object-fit: contain;
}

.tabela{
    width: 100vw;
    height: 80vh;
    margin-top: 20%;
    background-color: #8AA6A3;
   
}

.tabelaContent{
    display: flex;
    flex-direction: column;
}

.tabelaContent p{
    display: flex;
    margin-left: 15%;
    color: #4C5958;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.tabelaContent hr{
    display: flex;
    align-self: center;
    border: 1px #10403B solid;
    width: 70%;
}

.tarefa{
    width: 15vw;
    height: 8vh;
    background-color: #8AA6A3;
    border: 1px solid #C4D1D0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

}

.kanban {
    display: flex;
    justify-content: center;
    height: 50vh;
    gap: 12%;
    padding: 4%;
    padding-top: 5%;
    width: 100vw;
    
  }

  .kanban hr{
    width: 5px;
    background-color: #000;
  }
  
  
  .column {
    width: 15vw;
    height: 50vh;
    border: 1px solid #C4D1D0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .item {
    background-color: #8AA6A3;
    padding: 5%;
    border-radius: 5px;
    margin: 5%;
  }
  
  .dragging {
    opacity: 0.5;
  }

  .colunacontent{
    display: flex;
    flex-direction: row;
  }