.containerNovaTurma {
    display: flex;
    flex-wrap: wrap;
    background-color: #C4D1D0;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.contentTurma {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    width: 80vw; 
    margin-top: 9%;
    margin-bottom: 8%;
}

.triangle {
    position: absolute;
}

/* Estilo para os triângulos */
.triangle1 {
    bottom: 60%;
    left: 2%;
    transform: rotate(30deg);
}

.triangle2 {
    bottom: 15%;
    left: 5%;
    transform: rotate(150deg);
}

.triangle5 {
    bottom: 5%;
    left: 5%;
    transform: rotate(100deg);
}

.triangle3 {
    top: 20%;
    left: 80%;
    transform: rotate(100deg);
}

.triangle4 {
    bottom: 5%;
    left: 72%;
    transform: rotate(30deg);
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
    .triangle1, .triangle2, .triangle3, .triangle4 {
        border-width: 0 100px 100px 0;
    }

    .triangle1::before, .triangle2::before, .triangle3::before, .triangle4::before {
        border-width: 0 102px 102px 0;
    }
}

.rectangle {
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
}

.content2 {
    background-color: #8AA6A3;
    width: 30vw;
    height: 70vh;
    color: #ffffff;
    font-size: 1.8vh;
    font-family: "Poppins";
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    gap: 2rem;
    position: relative;
}

.content2 p {
    max-width: 90%;
}

.content2 img {
    width: 90%;
    max-height: 100%; 
    object-fit: contain; 
}

.nova-turma-form {
    width: 35vw;
    height: 70vh;
    padding: 3vw;
    background-color: #10403B;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative; 
    overflow-y: scroll;
    overflow-x: hidden; 
}



.nova-turma-form::-webkit-scrollbar{
    width: 5px;

}

.nova-turma-form::-webkit-scrollbar-thumb{
    background-color: #8AA6A3;
    border-radius: 10px;
}

.nova-turma-form p {
    color: #ffffff;
    font-size: 2.7vh;
    font-family: "Poppins";
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 2rem;
}

/* Estilização dos campos de entrada */
.nova-turma-form div {
    margin-bottom: 1rem;
    width: 100%; 
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.nova-turma-form input[type="text"],
.nova-turma-form input[type="password"] {
    width: 25vw; 
    padding: 0.5rem 0; 
    border: none; 
    border-bottom: 1px solid #D9E0DF; 
    border-radius: 0; 
    font-size: 1rem; 
    box-sizing: border-box; 
    background-color: transparent; 
    color: #D9E0DF;
    outline: none;
}

/* Estilização dos placeholders */
.nova-turma-form input::placeholder {
    color: #D9E0DF; 
    opacity: 1;
    font-family: "Poppins";
    font-weight: bold;
    font-size: 1.5vh;
}

/* Estilização do campo de upload de arquivos */
form.nova-turma-form {
    cursor: pointer; 
    transition: background-color 0.3s; 
    text-align: center;

}

.nova-turma-form .file-label:hover {
    background-color: #ffffff; 
    color: #10403B;
}

.botoesTurma {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
}

.botoesTurma label {
    font-family: "Poppins";
    color: #ffffff; 
    font-size: 2.3vh; 
    background-color: #10403B; 
    padding: 2vh 6vh; 
    cursor: pointer; 
    border: 1px solid #D9E0DF;
}

.botoesTurma input[type="file"] {
    display: none; /* Oculta o input de tipo file */
}

.botoesTurma .btnTurma {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 4% 20%;
    font-family: "Merriweather Sans";
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 2.4vh;
    border-radius: 15px;
    overflow: hidden;
    background: #ffffff;
    color: #10403B; /* Ajuste a cor do texto do botão conforme necessário */
    border-bottom: 2px solid #5B5B5B;
    border-right: 2px solid #5B5B5B;
    transition: background-color 0.3s, color 0.3s; /* Adiciona transições suaves */
}

.btnTurma span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.btnTurma:hover span {
    color: #8AA6A3;
}

.btnTurma::before,
.btnTurma::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btnTurma::before {
    content: "";
    background: #8AA6A3;
    width: 120%;
    left: -10%;
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btnTurma:hover::before {
    transform: translate3d(100%, 0, 0);
}
/* 
@media (max-height: 463px) {

    .botoesTurma .btnTurma {
  
        padding: 1vh 13vh;

    }

    .botoesTurma{
        display: flex;
        flex-wrap: wrap;
    }


    .nova-turma-form {
        width: 35vw;
        height: 90vh;
        overflow: scroll;

    }

    .content2{
        height: 90vh;

    }


     */



