.containerEditar{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #C4D1D0;;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;


}

.contentEditar{
    display: flex;
    flex-direction: row;
    margin-top: 7%;
    z-index: 1;
    


}


.form-containerEditar {
    display: flex;
    flex-wrap: wrap;
    width: 30vw;
    flex-direction: row; 
    gap: 1rem;
    justify-content: center;

    
}

.form-group-editar {
    display: flex;
    flex-direction: column;
    
}

.form-control {
    width: 25vw;
    padding: 0.3rem 0;
    border: none;
    border-bottom: 1px solid #D9E0DF;
    border-radius: 0.5rem;
    font-size: 1rem;
    box-sizing: border-box;
    background-color: #e2f8f4;
    color: #000000;
    outline: none;
    
}


.lado1{
    background-color: #ABCEC7;
    width: 30vw;
    height: 75vh;
    border-radius: 10% 0% 0% 10% ;
}

.lado1 h3{
    display: flex;
    text-align: center;
    
}

.lado1 img{
    width: 25%;
    height: auto;
    border-radius: 50%;
    border: 0.3rem solid #127369;
    margin: 0;
    transform: translateX(150%) translateY(-35%);


}

.lado2{
    background-color: #8AA6A3;
    width: 30vw;
    height: 75vh;
    padding-top: 5%;
    border-radius: 0% 10% 10% 0%;

}

.imagem-editar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;


}

.imagem-editar h3{
    display: flex;
    align-self: center;
    font-size: 1.5rem;
    color: #507974;
}

.triangle1 {
    bottom: 60%;
    left: 2%;
    transform: rotate(30deg);
}

.triangle2 {
    bottom: 15%;
    left: 5%;
    transform: rotate(150deg);
}

.triangle5 {
    bottom: 5%;
    left: 5%;
    transform: rotate(100deg);
}

.triangle3 {
    top: 20%;
    left: 80%;
    transform: rotate(100deg);
}

.triangle4 {
    bottom: 5%;
    left: 72%;
    transform: rotate(30deg);
}