/* Container principal para a página de funcionários */
.containerFuncionarios {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 0 5vw;
    overflow-y: hidden;
    background-color: #C4D1D0;
}

/* Coluna à esquerda com as informações */
.colunaFuncionarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #95B0AD;
    height: 100%;
    width: 40%;
    position: absolute;
    left: 0;
}

/* Imagem dos funcionários */
.imgFuncionarios {
    width: 55%;
}

/* Estilização do título na coluna de funcionários */
.tituloFunc {
    font-weight: 700;
    color: #0B6A60;
    font-style: 'Poppins';
    font-size: 2.3rem;
}

/* Container secundário para o conteúdo principal */
.container2 {
    width: 70vw;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding-top: 2rem;
}

/* Ícone de funcionário fixado na tela */
.iconeFunc {
    top: calc(15vh + 1rem);
    position: fixed;
    margin: auto;
    color: #0B6A60;
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    padding-right: 5vh;
}

.icone{
    color: #0B6A60;
}

.material-symbols-outlined.iconFunc {
    font-size: 2rem;
    color: #0B6A60;
    padding-right: 0.5rem;
}

/* Wrapper para os cartões de usuário */
.user-cards-wrapper {
    display: block;
    max-height: 70vh;
    overflow-y: auto;
    margin-top: 10.5rem;
    position: relative;
    left: 40%;
    padding-bottom: 1rem;
    padding-right: 0rem;
    margin-right: 0rem;
    width: 42vw;
    margin-top: 11rem;
}

/* Cartões de usuário */
.user-card {
    width: 98%;
    margin-bottom: 1rem;
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
    padding: 0;
}

/* Personalização da barra de rolagem */
.user-cards-wrapper::-webkit-scrollbar {
    width: 0.3rem;
}

.user-cards-wrapper::-webkit-scrollbar-thumb {
    background-color: #8AA6A3;
    border-radius: 0.625rem;
    border: 0.03125rem solid #4f6865;
}

/* Cabeçalho do usuário, contendo a estrutura e fundo com gradiente */
.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    background: linear-gradient(to right, #CDE1DF, #0B6A60);
}

/* Informações do usuário (foto, nome, etc.) */
.user-info {
    display: flex;
    align-items: center;
}

/* Estilização do ícone do usuário */
.user-icon {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.625rem;
}

/* Estilo para o título do usuário */
.user-details h3 {
    font-size: 1.125rem;
    margin-bottom: 0.3125rem;
    color: #0B6A60;
}

/* Estilo para a descrição do usuário (informações como e-mail, etc.) */
.user-details p {
    font-size: 0.875rem;
    color: #0b6a6195;
}

/* Mostra o conteúdo adicional quando a classe "show" é adicionada */
.user-details-content.show {
    display: block;
}

/* Conteúdo adicional que é escondido inicialmente */
.user-details-content {
    display: none;
    padding: 1rem 1rem 0 1rem;
    background-color: #e6e0e0;
}

/* Estilização dos atributos do usuário (como endereço, telefone) */
.user-attribute {
    margin-bottom: 0.625rem;
    padding-right: 1.875rem;
    gap: 1.875rem;
}


/* Estilo para o nome do atributo (ex: "Email", "Telefone") */
.user-attribute strong {
    width: 30%;
    font-size: 1rem;
    color: #333;
}

/* Estilo para o valor do atributo (ex: "joao@exemplo.com") */
.user-attribute p {
    width: 65%;
    font-size: 0.9rem;
    color: #666;
    word-break: break-word;
}


/* Botão de editar com estilo específico */
.edit-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #127369;
    border: none;
    padding: 0.625rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 0.875rem;
}

/* Container para os botões no final da seção */
.button-divv {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border-top: 0.070rem solid rgba(111, 110, 110, 0.982);
    align-self: center;
    
}

/* Estilização do botão de acordeão (expansível) */
.accordion {
    background-color: transparent;
    border: none;
}

/* Layout para os atributos organizados em duas colunas */
.parAtributo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 1.25rem;
}

/* Container de busca, centraliza a caixa de busca */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Caixa de busca com fundo e bordas arredondadas */
.search-box {
    display: flex;
    align-items: center;
    background-color: #CDE1DF;
    border-radius: 10rem;
    height: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-right: 1.2rem;
}

/* Estilo do texto na caixa de busca */
.search-text {
    align-items: center;
    border: none;
    background: none;
    outline: none;
    font-size: 1rem;
    width: 0;
    transition: 0.4s;
}

/* Ícone de busca, cor personalizada */
.icon-search {
    color: #127369b3;
}

/* Estilo do botão de busca */
.search-btn {
    width: 2rem;
    height: 1.8rem;
    border-radius: 50%;
    align-self: center;
}

/* Efeito de hover na caixa de busca, expandindo o campo de texto */
.search-box:hover > .search-text {
    width: 20rem;
    padding-left: 0.5rem;
}

/* Ícone da seta de voltar */
.backarrow-icn {
    color: #127369b3;
    padding-right: 1rem;
}

/* Efeito de hover na seta de voltar, aumentando de tamanho */
.backarrow-icn:hover {
    transform: scale(1.2);
}

/* Esconde o título de resposta */
.tituloResp{
    display: none;
}

/* Conteúdo do modal, com fundo e bordas personalizadas */
.modal-content2{
    background-color: #B0C2C0;
    color: #4C5958;
    margin: 50% auto;
    padding: 5%;
    padding-top: 0%;
    border: 1px solid #888;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    gap: 0.3rem;
    text-align: center;
}

/* Estilo para os parágrafos dentro do modal */
.modal-content2 p{
    margin-top: 0;
}

/* Modal em si, com fundo escuro e centralização */
.modal2{
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
justify-content: center;
}

/* Cabeçalho do modal, sem borda */
.modal-header{
    border: none;
}

/* Estilo do botão de fechar no modal */
.modal-content2 .close{
align-self: end;
background-color: transparent;
color: #a3a3a3;
border: none;
margin: 0;
padding-bottom: 0;
padding-top: 0.4rem;
}

/* Estilo de hover para o botão de fechar */
.modal-content2 .close:hover{
    color: #333
}

/* Estilo do cabeçalho do modal */
.modal-header2{
    display: flex;
    flex-direction: column;
}

/* Estilo do título dentro do cabeçalho */
.modal-header2 h1{
    font-size: 3.2vh;
    margin-top: 0;
}


/* Estilo da linha horizontal (hr) no cabeçalho */
.modal-header2 hr{
    margin: 1rem 0 0 0;
    color: inherit;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
    width: 80%;
}

/* Estilo do botão de fechar */
.close button{
color: #aaa;
float: right;
font-size: 28px;
font-weight: bold;
}

/* Estilo do fundo do modal (modal-backdrop) */
.modal-backdrop {
    z-index: 1045 !important;
  }

/* Estilo do container de botões no modal */
.botoesModal2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap:26%;
    justify-content: space-between;
    margin-top: 1rem;
}

/* Estilo dos botões dentro do container */
.botoesModal2 button{
    width: 60%;
    height: 40%;
    background-color: #8AA6A3;
    border: none;
    padding: 0.4rem;
    color: #000000;
    margin-bottom: 6%;

}

/* Estilização para telas de tamanhos diferentes*/
  @media (max-width: 768px) {
    .colunaFuncionarios {
        display: none;
    }

    .tituloResp{
        display: flex;
        justify-content: center;
        color: #127369;
    }

    .containerFuncionarios {
        flex-direction: column; 
        padding: 10vh 2vh;
        height: auto;
        align-items: center;
       
    }

    .user-cards-wrapper {
        max-height: 60vh;
        margin-top: 6rem;
        left: 0;
        width: 100%; 
    }

    .user-card {
        width: 100%; 
    }
    .iconeFunc {
        padding-right: 0rem;
        padding-top: 1rem;
    }
    
}

@media (max-width: 576px) {
    .tituloResp{
        display: flex;
        justify-content: center;
        color: #127369;
        font-size: 2rem;
        margin-top: 4rem;
    }
    .iconeFunc {
        width: 70vw;
        padding: 0rem;
        margin-top: 2rem;
        display: flex;
        
        
    }

    .user-cards-wrapper {
        max-height: 55vh;
        margin-top: 6rem;
        left: 0;
        width: 100%;
    }

    .user-card {
        width: 100%; 
    }

    .containerFuncionarios {
        padding: 2vh 1vh;
    }
}
@media (width: 820px) and (height: 1180px) {
    .user-cards-wrapper {
        margin-top: 16rem !important; 
        height: 50vh;
    }
}
@media (width: 1024px) and (height: 1366px) {
    .user-cards-wrapper {
        margin-top: 15rem !important;
        height: 50vh;
        margin-bottom: 2rem;
    }
}
@media (width: 912px) and (height: 1368px) {
    .user-cards-wrapper {
        margin-top: 15rem !important; 
    }
}
@media (width: 853px) and (height: 1280px) {
    .user-cards-wrapper {
        margin-top: 19rem !important; 
        margin-bottom: 10rem;
        height: 50vh;
    }
}
@media (width: 1024px) and (height: 600px) {
    .user-cards-wrapper {
        margin-top: 10rem !important;
    }
}
@media (height: 1558px){
    .user-cards-wrapper{
        margin-top: 19rem !important;
    }
    .tituloResp{
        margin-top: 10vh;
       } 
}
@media (height: 1714px){
    .user-cards-wrapper{
        margin-top: 19rem !important;
    }
   .tituloResp{
    margin-top: 10vh;
   } 
}
