.containerLogin {
    margin:0;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #C4D1D0;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.triangle {
    position: absolute;
}

/* Estilo para os triângulos */
.triangle1 {
    bottom: 60%;
    left: 2%;
    transform: rotate(30deg);
}

.triangle2 {
    bottom: 15%;
    left: 5%;
    transform: rotate(150deg);
}

.triangle5 {
    bottom: 5%;
    left: 5%;
    transform: rotate(100deg);
}

.triangle3 {
    top: 20%;
    left: 80%;
    transform: rotate(100deg);
}

.triangle4 {
    bottom: 5%;
    left: 72%;
    transform: rotate(30deg);
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
    .triangle1, .triangle2, .triangle3, .triangle4 {
        border-width: 0 100px 100px 0;
    }

    .triangle1::before, .triangle2::before, .triangle3::before, .triangle4::before {
        border-width: 0 102px 102px 0;
    }
}

.rectangle {
    width: 80%; /* Largura do retângulo */
    height: 70%; /* Altura do retângulo */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
}

.half {
    flex: 1;
    height: 100%;
}

.left {
    background-color: #10403B; /* Cor da metade esquerda */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    background-color: #8AA6A3; /* Cor da metade direita */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemLogin{
    max-width: 65%;
}

.iconeLogin{
    color: #8AA6A3;
}

