/* Estilo do container principal da home */
.containerHome {
    display: flex;
    flex-direction: row;
    background-color: #C4D1D0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 4rem; 
    box-sizing: border-box; 
}

/* Estilo do conteúdo dentro da home */
.contentHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 1rem; 
    margin: 0;
    max-width: 50%;
}

/* Estilo do título da home */
.contentHome h1 {
    max-width: 60%;
    font-size: 4vw;
    margin: 0;
    font-family: "Poppins";
    font-weight: bold;
    text-align: justify;
}

/* Estilo do parágrafo dentro da home */
.contentHome p {
    font-size: 2vh; 
    margin: 0;
    font-family: "Merriweather Sans";
    font-weight: 400;
    max-width: 60%;
    text-align: justify;
}

/* Estilo da imagem na home */
.imagemHome {
    max-width: 73vh; 
}

/* Estilo do botão na home */
.homebtn {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 3% 9%; 
    margin: 0;
    font-family: "Merriweather Sans";
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem; 
    font-weight: 700;
    font-size: 3vh; 
    border-radius: 0.3125rem;
    overflow: hidden;
    background: #ffffff;
    color: #ffffff; 
    border-bottom: 0.125rem solid #5B5B5B; 
    border-right: 0.125rem solid #5B5B5B; 
}

/* Estilo do texto dentro do botão */
.homebtn span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

/* Estilo de hover no botão para mudar a cor do texto */
.homebtn:hover span {
    color: #8AA6A3;
}

/* Estilo do pseudo-elemento antes do botão */
.homebtn::before,
.homebtn::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Estilo do pseudo-elemento antes do botão */
.homebtn::before {
    content: "";
    background: #8AA6A3;
    width: 120%; 
    left: -10%; 
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

/* Efeito de hover no pseudo-elemento para mover ele */
button:hover::before {
    transform: translate3d(100%, 0, 0);
}

/* Estilo para o link que envolve o conteúdo da home */
.contentHome a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    text-decoration: none;
}


/* Estilização para telas de tamanhos diferentes */
@media (max-width: 1320px) {
    .imagemHome {
        max-width: 60vh; 
    }
}

@media (max-width: 1120px) {
    .imagemHome {
        max-width: 50vh; 
    }
}


@media (max-width: 1000px) {
    .imagemHome {
        display: none; 
    }

    .contentHome {
        align-items: center; 
        text-align: center; 
        max-width: 100%;
    }

    .contentHome h1 {
        font-size: 5vw; 
        text-align: center;
        padding-bottom: 1rem;
    }

    .contentHome p {
        font-size: 2vh; 
        padding-bottom: 1rem;
    }
}
