.containerLogin {
    margin:0;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #C4D1D0;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.triangle {
    position: absolute;
}

/* Estilo para os triângulos */
.triangle1 {
    bottom: 60%;
    left: 2%;
    transform: rotate(30deg);
}

.triangle2 {
    bottom: 15%;
    left: 5%;
    transform: rotate(150deg);
}

.triangle5 {
    bottom: 5%;
    left: 5%;
    transform: rotate(100deg);
}

.triangle3 {
    top: 20%;
    left: 80%;
    transform: rotate(100deg);
}

.triangle4 {
    bottom: 5%;
    left: 72%;
    transform: rotate(30deg);
}

/* Ajustes de responsividade */
@media (max-width: 768px) {
    .triangle1, .triangle2, .triangle3, .triangle4 {
        border-width: 0 100px 100px 0;
    }

    .triangle1::before, .triangle2::before, .triangle3::before, .triangle4::before {
        border-width: 0 102px 102px 0;
    }
}

.rectangleLogin {
    width: 70vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 20px;
}

.halfLogin {
    flex: 1;
    height: 100%;
}

.leftLogin {
    background-color: #10403B; /* Cor da metade esquerda */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-self: center;
    overflow: hidden;
}

.leftLogin form{
    justify-content: center;
}

.leftLogin span{
    justify-content: center;
}

.rightLogin {
    background-color: #8AA6A3; /* Cor da metade direita */
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagemLogin{
    max-width: 70%;
}

.material-symbols-outlined.iconeLogin{
    color: #8AA6A3;
    font-size: 500%;
}

.tituloLogin{
    text-transform: uppercase;
    color: #8AA6A3;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.login-form {
    width: 35vw;
    background-color: #10403B;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    position: relative; /* Para posicionar o botão no final */
    overflow: hidden; /* Oculta a barra de rolagem */
    padding-top: 1vh;
}

.login-form::-webkit-scrollbar-track {
    display: none;
    border: none;
}

.login-form::-webkit-scrollbar{
    width: 3px;
    border: 1px solid #8AA6A3;
}

.login-form::-webkit-scrollbar-thumb{
    background-color: #8AA6A3;
    border-radius: 10px;
}

.login-form input:-webkit-autofill {
    background-color: transparent !important; 
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important; 
    
    transition: background-color 5000s ease-in-out 0s;
}

/* Estilização dos campos de entrada */
.login-form div {
    margin-bottom: 1rem;
    width: 100%; 
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 25vw; 
    padding: 0.5rem 0; 
    border: none; 
    border-bottom: 1px solid #D9E0DF; 
    border-radius: 0; 
    font-size: 1rem; 
    box-sizing: border-box; 
    background-color: transparent;
    color: #D9E0DF;
    outline: none;
}

/* Estilização dos placeholders */
.login-form input::placeholder {
    color: #D9E0DF; 
    opacity: 1;
    font-family: "Poppins";
    font-size: 1.8vh;
}

.btnLogin {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 2% 13%;
    font-family: "Merriweather Sans";
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 2.4vh;
    border-radius: 15px;
    overflow: hidden;
    background: #ffffff;
    color: #10403B; /* Ajuste a cor do texto do botão conforme necessário */
    border-bottom: 2px solid #5B5B5B;
    border-right: 2px solid #5B5B5B;
    transition: background-color 0.3s, color 0.3s; /* Adiciona transições suaves */
}

.btnLogin label {
    font-family: "Poppins";
    color: #ffffff; 
    font-size: 2.3vh; 
    background-color: #10403B; 
    padding: 2vh 6vh; 
    cursor: pointer; 
    border: 1px solid #D9E0DF;
}

.btnLogin span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

.btnLogin:hover span {
    color: #8AA6A3;
}

.btnLogin::before,
.btnLogin::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btnLogin::before {
    content: "";
    background: #8AA6A3;
    width: 120%;
    left: -10%;
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btnLogin:hover::before {
    transform: translate3d(100%, 0, 0);
}