.containerFuncionarios {
    margin:0;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #C4D1D0;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.colunaFuncionarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #95B0AD;
    height: 100%;
    width: 40%;
    box-shadow: 4px 0 4px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
}

.imgFuncionarios{
    width: 55%;
}

.tituloFunc{
    font-weight: 700;
    color: #0B6A60;
    font-style: 'Poppins';
    font-size: 230%;
}

.user-card {
    width: 350px;
    border-radius: 15px;
    background-color: #a5dee4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-header {
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    border-bottom: 1px solid #ffffff;
}

.user-icon {
    width: 40px;
    height: 40px;
    background-color: #8fd5e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
}

.user-info {
    flex-grow: 1;
    padding-left: 10px;
}

.user-info h2 {
    font-size: 16px;
    color: white;
}

.user-info p {
    font-size: 14px;
    color: white;
}

.dropdown-icon {
    font-size: 16px;
    color: white;
}

.user-details {
    display: none;
    background-color: white;
    border-radius: 0 0 15px 15px;
    padding: 15px;
    animation: fadeIn 0.3s ease;
}

.details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.details div {
    display: flex;
    flex-direction: column;
}

.details strong {
    font-size: 14px;
    color: #4a4a4a;
}

.details p {
    font-size: 14px;
    color: #666;
}

.edit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a5dee4;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 15px;
}

.edit-button img {
    margin-right: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}