/* Estilo geral para o container principal */
.containerArmazenamento {
    margin:0rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    background-color: #C4D1D0;
    position: relative;
    overflow: auto;
    align-items: center;
    flex-direction: column;
    padding-top: 37vh;
    box-sizing: border-box;
    overflow-y: hidden;
}

/* Estilo para a navbar customizada */
.navbarArmazenamento-custom {
    background-color: #10403B;
    border-radius: 10px;
    width: 70vw;
    height: 12vh; 
    margin: 2rem auto 0 auto;
    position: absolute;
    top: calc(15vh + 1rem);
    left: 0; 
    right: 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding-left: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 2rem;
    overflow-y: auto;
}

/* Estilo para a marca da navbar */
.navbarArmazenamento-brand {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: #bfbfbf;
}

/* Estilo para o título na navbar */
.navbarArmazenamento-brand h2 {
    font-size: 3vh;
    margin-right: 0.2rem;
    font-family: "Poppins";
}

/* Estilo para o texto adicional na navbar */
.navbarArmazenamento-brand span {
    font-size: 4vh;
}

/* Estilo para a sala */
.sala{
    background-color: #8AA6A3;
    border-radius: 10px;
    width: 66vw;
    height: 7vh; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5vh;
    margin-bottom: 2rem;
}

/* Estilo para o nome da sala */
.nomeSala{
    font-size: 2vh;
    font-weight: 600;
    color:#4C5958;
    margin-right: 0.2rem;
    font-family: "Poppins";
}

/* Estilo para o ícone da sala */
.iconeSala{
    color: #4C5958;
}

/* Efeito ao passar o mouse ou focar no ícone */
.iconeSala:hover,
.iconeSala:focus {
    color: #10403B;
    text-decoration: none;
    cursor: pointer;
}


/* Estilo para a linha separadora */
.linha{
    width: 100%;
    margin: 0 auto;
    border: 1px solid #4C5958;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

}

/* Contêiner para alinhar as linhas */
.linha-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 70vw;
}

/* Estilo para a informação dentro de uma linha */
.alinhamentoTexto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 0.3rem ;
    align-items: center;
}

/* Estilo para o texto informativo */
.info{
    font-size: 2vh;
    font-weight: 600;
    color:#4C5958;
    margin-right: 0.2rem;
    font-family: "Poppins";
}

/* Estilo para a modal de exclusão/recuperação */
.modalDeleteRestore {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Estilo para o conteúdo da modal de exclusão/recuperação */
.modal-contentDeleteRestore {
    background-color: #B0C2C0;
    color: #4C5958;
    margin: 15% auto;
    padding: 3%;
    padding-top:1%;
    border: 1px solid #888;
    width: 50%;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    gap: 0.3rem;
    text-align: center;
}

.modal-contentDeleteRestore span{
    align-self: end;
}
.modal-contentDeleteRestore hr{
    width: 100%;
    background-color: #4C5958;
    display: inline-flex;
    justify-content: center;
    align-self: center;
}

.modal-contentDeleteRestore h3{
    margin: 3vh;
    padding: 0;
    font-size: 3vh;
}

/* Efeito para o botão de fechar da modal */
.closeDeleteRestore {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* Efeito ao passar o mouse ou focar no botão de fechar */
.closeDeleteRestore:hover,
.closeDeleteRestore:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para os botões na modal de exclusão/recuperação */
.botoesModaldeleterestore{
    width: 100%;
    height: 80%;
    display: flex;
    gap: 20%;
    justify-content: space-between;
}

/* Estilo individual para cada botão na modal */
.botoesModaldeleterestore button{
    width: 60%;
    height: 40%;
    background-color: #8AA6A3;
    border: none;
    padding: 0.4rem;
}

/* Estilos para a lista de arquivos */
.listaFiles{
    display: block;
    max-height: 50vh;
    overflow-y: auto;
    position: relative;
    padding-bottom: 1rem;
    padding-right: 0rem;
    margin-right: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

/* Estilo do scrollbar personalizado */
.listaFiles::-webkit-scrollbar {
    width: 0.3rem;
    
}

/* Estilo do polegar do scrollbar */
.listaFiles::-webkit-scrollbar-thumb {
    background-color: #8AA6A3;
    border-radius: 0.625rem;
    border: 0.03125rem solid #4f6865;
    
}

/* Estilos para o modal */
.modal-content4{
    background-color: #B0C2C0;
    color: #4C5958;
    margin: 30% auto;
    padding: 5%;
    padding-top: 0%;
    border: 1px solid #888;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    gap: 0.3rem;
    text-align: center;
    position: absolute;
}

/* Estilo do texto do modal */
.modal-content4 p{
    margin-top: 0;
}

/* Estilos gerais para o modal */
.modal4{
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.4);
justify-content: center;
}

/* Estilo do botão de fechar do modal */
.modal-content4 .close{
align-self: end;
background-color: transparent;
color: #a3a3a3;
border: none;
margin: 0;
padding-bottom: 0;
padding-top: 0.4rem;
}

/* Estilo ao passar o mouse sobre o botão de fechar */
.modal-content4 .close:hover{
    color: #333
}

/* Estilos do cabeçalho do modal */
.modal-header4{
    display: flex;
    flex-direction: column;
}

/* Estilo do título do modal */
.modal-header4 h1{
    font-size: 3.5vh;
    margin-top: 0;
}

/* Estilo da linha do modal */
.modal-header4 hr{
    margin: 1rem 0 0 0;
    color: inherit;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
    width: 90%;
}

/* Estilos dos botões dentro do modal */
.botoesModal4{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 26%;
    justify-content: space-between;
    margin-top: 1rem;
}

/* Estilo dos botões no modal */
.botoesModal4 button{
    width: 60%;
    height: 40%;
    background-color: #8AA6A3;
    border: none;
    padding: 0.4rem;
    color: #000000;
    margin-bottom: 6%;
}

/* Media query para telas com largura máxima de 768px */
@media (max-width: 768px) {
    .containerArmazenamento {
        padding-top: 30vh;
    }

    .navbarArmazenamento-custom {
        width: 90vw;
        height: 10vh;
        margin: 0 auto;
    }

    .sala {
        margin-right: 0rem;
        margin-left:0rem;
        width: 98%; 
        
    }

    .alinhamentoTexto .info {
        font-size: 1.6vh;
    }
    .listaFiles{
        height: 60vh;
        width: 90vw;
        margin-left: 0rem;
        margin-right: 0.3rem;
    }
}

/* Media query para telas com largura máxima de 500px */
@media (max-width: 500px) {
    .containerArmazenamento {
        padding-top: 25vh; 
    }

    .navbarArmazenamento-custom {
        height: 8vh;
    }

    .sala {
        margin-right: 0;
        margin-left:0;
        width: 98%;

    }

    .alinhamentoTexto .info {
        font-size: 1.4vh;
    }

    .modal-contentDeleteRestore {
        width: 80%;
    }
    .listaFiles{
        margin-top: 4rem;
        height: 50vh;
        width: 90vw;
        margin-left: 0rem;
        margin-right: 0.3rem;
    }

}
