<nav class="navbar-custom">
  <div class="containerNav">
    <a class="navbar-brand" href="/">
      <h2>Geenfy</h2>
    </a>
    <div class="icn-group">
      <input type="checkbox" id="toggle" />
      <label class="button icn" for="toggle">
        {% if user.is_authenticated %}
        <span class="material-symbols-outlined" id="menu-icon">menu</span>


        {% endif %}
      </label>

      <div class="nav" id="nav-menu">
        <!-- Adiciona o ícone de fechar aqui -->
        <span class="material-symbols-outlined close-icon iconeNav" id="close-icon" style="display: none;">close</span>
        {% if user.is_authenticated %}
        {% if request.path != '/' %}
        <a class="icn" href="/"><span class="material-symbols-outlined iconeNav">home</span><span
            class="link-text">Home</span></a>
        {% endif %}
        {% if request.path != '/perfil' %}
        <a class="icn" href="/perfil"><span class="material-symbols-outlined iconeNav">account_circle</span><span
            class="link-text">Perfil</span></a>
        {% endif %}
        {% if request.path != '/processo' %}
        <a class="icn" href="/processo"><span class="material-symbols-outlined iconeNav">folder_open</span><span
            class="link-text">Processo</span></a>
        {% endif %}
        {% if request.path != '/storage' %}
        <a class="icn" href="/storage"><span class="material-symbols-outlined iconeNav">inventory_2</span><span
            class="link-text">Armazenamento</span></a>
        {% endif %}
        {% if user_is_Coordenador %}
        {% if request.path != '/cadastro' %}
        <a class="icn" href="/cadastro"><span class="material-symbols-outlined iconeNav">person_add</span><span
            class="link-text">Cadastro</span></a>
        {% endif %}
        {% if request.path != '/funcionarios' %}
        <a class="icn" href="/funcionarios"><span class="material-symbols-outlined iconeNav">group</span><span
            class="link-text">Funcionários</span></a>
        {% endif %}
        {% endif %}
        <a class="icn" href="/logout"><span class="material-symbols-outlined iconeNav">logout</span><span
            class="link-text">Sair</span></a>
        <a class="icn"><span class="material-symbols-outlined iconeCloseMenuNav" id="menu-icon">close</span></a>
        {% endif %}
      </div>

      {% if not user.is_authenticated %}
      {% if request.path != '/' %}
      <a class="icn" href="/"><span class="material-symbols-outlined iconeNav">home</span><span
          class="link-text">Home</span></a>
      {% endif %}
      {% if request.path != '/login' %}
      <a class="icn" href="/login"><span class="material-symbols-outlined iconeNav">account_circle</span><span
          class="link-text">Login</span></a>
      {% endif %}
      {% endif %}
    </div>
  </div>
</nav>

<style>
  .iconeCloseMenuNav {
    display: none;
  }

  .navbar-custom {
    background-color: #8aa6a3;
    border-radius: 10px;
    width: 70vw;
    height: 9vh;
    margin: 2% auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 0 5vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .containerNav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-brand h2 {
    margin: 0;
    color: #000;
    font-family: "Poppins";
    font-size: 3.3vh;
    transition: transform 0.3s ease;
  }

  .navbar-brand h2:hover {
    transform: scale(1.2);
  }

  .icn-group {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: margin-left 0.3s ease;
    /* Transição ao abrir o menu */
  }

  .icn {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    position: relative;
  }

  .icn span {
    font-size: 4vh;
  }

  .iconeNav {
    line-height: 1;
    transition: transform 0.3s ease;
  }

  .iconeNav:hover {
    transform: scale(1.2);
  }

  #toggle {
    display: none;
  }

  .button {
    cursor: pointer;
    display: flex;
    /* Alinha verticalmente o ícone do menu com os outros ícones */
    align-items: center;
  }

  .nav {
    display: none;
    transition: all 0.5s ease-in-out;
  }

  #toggle:checked~.icn-group {
    margin-left: -150px;
    /* Ajuste a distância aqui para mover para o lado esquerdo */
  }

  #toggle:checked~.nav {
    display: flex;
    gap: 20px;
    /* Espaço entre os ícones */
    animation: fadeIn 0.8s forwards;
    /* Animação de entrada */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-10px);
      /* Mova para a esquerda */
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }


  .link-text {
    position: absolute;
    top: 100%;
    /* Posiciona o texto à direita do ícone */
    transform: translate(-10px, 0);
    /* Move o texto para fora do ícone */
    opacity: 0;
    /* Inicialmente invisível */
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Transições para suavizar a entrada */
    background: #10403B;
    /* Fundo branco para o texto */
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    /* Para evitar quebra de linha */
    color: #fff;
    /* Cor do texto */
  }

  .icn:hover .link-text {
    opacity: 1;
    /* Torna visível ao passar o mouse */
    transform: translate(0, 0);
    /* Move o texto para a posição original */
  }

  .icn span.link-text {
    font-size: 20px;
    margin-top: 5px;
  }

  .menu-text {
    position: absolute;
    top: 100%;
    /* Posiciona o texto à direita do ícone */
    transform: translate(-10px, 0);
    /* Move o texto para fora do ícone */
    opacity: 0;
    /* Inicialmente invisível */
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* Transições para suavizar a entrada */
    background: #10403B;
    /* Fundo branco para o texto */
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    /* Para evitar quebra de linha */
    color: #fff;
    /* Cor do texto */
  }


  .icn span.menu-text {
    font-size: 20px;
    margin-top: 5px;
  }


  .button:hover .menu-text {
    opacity: 1;
    /* Torna visível ao passar o mouse */
    transform: translateY(0);
    /* Move o texto para a posição original */
  }

  .close-icon {
    display: none;
    /* Esconde o ícone inicialmente */
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 2em;
    color: #000;
  }

  /* Media query para telas menores que 900px (menu lateral) */
  @media (max-width: 1080px) {

    .icn-group {
      display: flex;
      align-items: center;
    }

    .nav {
      display: none;
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      width: 10%;
      height: 100%;
      background-color: #8aa6a3;
      padding-left: 10px;
      box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
      gap: 20px;
      z-index: 1500;
      padding-top: 15%;
    }

    #toggle {
      display: none;
    }

    #toggle:checked+.button+#nav-menu {
      display: flex;
    }

    #toggle:checked+.button+#nav-menu .close-icon {
      display: block;
      /* Mostra o ícone de fechar quando o menu está aberto */
    }

    .button {
      display: block;
      cursor: pointer;
    }

    #nav-menu {
      padding-top: 50px;
      /* Espaçamento para evitar sobreposição com o ícone de fechar */
    }

    .logout {
      margin-left: 0;
    }

    .close-icon {
      display: none;
    }

    .iconeCloseMenuNav {
      display: block;
      cursor: pointer;
      font-size: 4vh;
    }

    /* Esconde o menu quando o botão de fechar for clicado */
    #nav-menu {
      transition: all 0.5s ease-in-out;
      transform: translateX(100%);
    }

    /* Quando o menu estiver aberto */
    #toggle:checked~.nav {
      transform: translateX(0);
    }

    .close-icon {
      display: none;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
      font-size: 2em;
      color: #000;
    }

    #toggle:checked+.button .close-icon {
      display: block;
    }

    /* Esconde o ícone de menu quando o menu está aberto */
    #toggle:checked+.button #menu-icon {
      display: none;
    }
    .link-text {
      display: none;
    }

  }

  @media (max-width: 780px) {
    .icn span {
    font-size: 3.5vh;
  }
    .nav{
      padding-left: 5px;
      width: 10%;
    }
  }

  @media (max-width: 400px) {
    .nav{
      padding-left: 2px;
    }
  }

  @media (max-width: 400px) {
    .nav{
      padding-left: 5px;
      width: 20%;
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const toggleCheckbox = document.getElementById('toggle');
    const menuIcon = document.getElementById('menu-icon');
    const menuText = document.getElementById('menu-text');
    const iconeCloseMenuNav = document.querySelector('.iconeCloseMenuNav');
    const navMenu = document.getElementById('nav-menu');

    // Função para atualizar o ícone e o texto do menu
    function updateMenuIcon() {
      if (toggleCheckbox.checked) {
        menuIcon.textContent = 'close'; // Muda para "X"
        menuText.textContent = 'Fechar'; // Muda para "Fechar"
      } else {
        menuIcon.textContent = 'menu'; // Retorna para "menu"
        menuText.textContent = 'Menu'; // Retorna para "Menu"
      }
    }

    // Adiciona evento ao checkbox (toggle) para mudar o ícone e o texto
    toggleCheckbox.addEventListener('change', updateMenuIcon);

    // Evento para clicar no ícone de fechar (iconeCloseMenuNav)
    iconeCloseMenuNav.addEventListener('click', function () {
      toggleCheckbox.checked = false; // Desmarca o checkbox para fechar o menu
      navMenu.style.transform = 'translateX(100%)'; // Move o menu para fora da tela
      updateMenuIcon(); // Atualiza o ícone e o texto
    });

    // Detectar alteração de tamanho da tela e fechar o menu se necessário
    window.addEventListener('resize', function () {
      if (window.innerWidth > 990) {
        toggleCheckbox.checked = false; // Fechar o menu ao sair do modo responsivo
        updateMenuIcon(); // Atualiza o ícone e o texto
      }
    });

    // Inicializa o estado do ícone e do texto ao carregar a página
    updateMenuIcon();
  });
</script>