<nav class="navbar-custom">
  <div class="containerNav">
      <a class="navbar-brand" href="/">
          <h2>Geenfy</h2>
        </a>
        <!-- IF para mudar a nav conforme a autenticação, caso não esteja autenticado aparecerá "Entrar" -->
        <div class="icn-group">
        {% if user.is_authenticated %}
        <!-- Se estiver autenticado como coordenador aparecerá botão para a pág instrutores e agenda, e ao lado o seu perfil -->
            {% if user_is_Coordenador %}
              <a class="icn" href="/"><span class="material-symbols-outlined icone">home</span></a>
              <a class="icn" href="/cadastro"><span class="material-symbols-outlined icone">person_add</span></a>
              <a class="icn" href="/funcionarios"><span class="material-symbols-outlined icone">group</span></a>
              <a class="icn" href="/logout"><span class="material-symbols-outlined icone">logout</span></a>
              {% else %}
              <a class="icn" href="/"><span class="material-symbols-outlined icone">home</span></a>
              <a class="icn" href="/logout"><span class="material-symbols-outlined icone">logout</span></a>
            {% endif %}
        {% else %}
          <a class="icn" href="/login"><span class="material-symbols-outlined icone">person</span></a>
        </div>
        {% endif %}

  </div>
</nav>

<style>
  .navbar-custom {
      background-color: #8AA6A3;
      border-radius: 10px;
      width: 70vw;
      height: 9vh; 
      margin: 2% auto; 
      position: fixed; 
      top: 0; 
      left: 0; 
      right: 0; 
      z-index: 1000; 
      display: flex;
      align-items: center; 
      padding: 0 5vh; 
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .containerNav {
      width: 100%; 
      display: flex;
      flex-direction: row;
      justify-content: space-between;

  }

  .navbar-brand h2 {
      margin: 0; 
      color: #000; 
      font-family: "Poppins";
      font-size: 3.3vh;
      transition: transform 0.3s ease;
  }

  .navbar-brand h2:hover {
    transform: scale(1.2);
  }

  .contentNav {
      padding-top: 80px;
  }

  
  .containerNav span{
    font-size: 4vh;
  }

  .icone{
    transition: transform 0.3s ease;
  }

  .icone:hover {
    transform: scale(1.2);
  }
  .icn{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .icn-group {
    display: flex;
    gap: 20px; /* Controla o espaço entre os ícones */
    align-items: center;
}
</style>
