<nav class="navbar-custom">
  <div class="container">
      <a class="navbar-brand" href="#">
          <h2>Geenfy</h2>
        </a>
        <span class="material-symbols-outlined">
          person
          </span>

  </div>
</nav>

<style>
  .navbar-custom {
      background-color: #8AA6A3;
      border-radius: 10px;
      width: 80%;
      height: 60px; 
      margin: 10px auto; 
      position: fixed; 
      top: 0; 
      left: 0; 
      right: 0; 
      z-index: 1000; 
      display: flex;
      align-items: center; 
      padding: 0 1rem; 
  }

  .container {
      width: 100%; 
      display: flex;
      flex-direction: row;
      justify-content: space-between;

  }

  .navbar-brand h2 {
      margin: 0; 
      color: #000; 
      font-family: "Poppins";
  }

  .content {
      padding-top: 80px;
  }

  
  .container span{
    font-size: 38px;
  }


</style>
